<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <form id="form" class="form-horizontal">
    <fieldset>

      <!-- Form Name -->
      <legend>Lab Form</legend>

      <!-- Multiple Radios (inline) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="bloodType">Blood type:</label>
        <div class="col-md-4">
          <label class="radio-inline" for="bloodType-0">
            <input v-model="bloodType" type="radio" name="bloodType" id="bloodType-0" value="1">
            A
          </label>
          <label class="radio-inline" for="bloodType-1">
            <input v-model="bloodType" type="radio" name="bloodType" id="bloodType-1" value="2">
            B
          </label>
          <label class="radio-inline" for="bloodType-2">
            <input v-model="bloodType" type="radio" name="bloodType" id="bloodType-2" value="3">
            AB
          </label>
          <label class="radio-inline" for="bloodType-3">
            <input v-model="bloodType" type="radio" name="bloodType" id="bloodType-3" value="4">
            O
          </label>
        </div>
      </div>
      {{bloodType}}
    </fieldset>
  </form>


  <script>
    var labApp = new Vue({
      el: "#form",
      data: {
        bloodType: 2
      },
      mounted() {
        this.bloodType = 4;
      }
    })
  </script>

</body>

</html>