<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>

  <form id="form" class="form-horizontal" method="post" action="https://course-lab-php.azurewebsites.net/echo.php">
    <fieldset>

      <!-- Form Name -->
      <legend>Lab Form</legend>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="city">城市:</label>
        <div class="col-md-4">
          <input type="hidden" name="selectCityNo" :value="selectCity.no">
          <select id="selectCity" name="selectCity" v-model="selectCity" class="form-control">
            <option v-for="city in cityList" :value="city">{{city.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4 control-label">
        {{selectCity}}
        {{selectCity.no}}
      </div>
      <div class="col-md-4 control-label">
        <input class="btn btn-primary" type="submit" value="送出">
      </div>
    </fieldset>
  </form>


  <script>

    var labApp = new Vue({
      el: "#form",
      data: {
        selectCity: {
          no: 2,
          name: "台中"
        },
        selectCityNo: 2,
        cityList: [
          {
            no: 1,
            name: "台北"
          },
          {
            no: 2,
            name: "台中"
          },
          {
            no: 3,
            name: "台南"
          }
        ]
      },
    })

  </script>

</body>

</html>